<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<array>
		<dict>
			<key>imgUrl</key>
			<string>home_health_icon</string>
			<key>temp</key>
			<string>home_health_icon</string>
			<key>imgUrl_net</key>
			<string>https://static.zhongan.com/upload/app/material/1494992549461.png</string>
			<key>title</key>
			<string>健康</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_travel_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>旅行</string>
			<key>iconImgUrl</key>
			<string>channel_tag_new</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_car_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>汽车</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_loan_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>马上金</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_store_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>保障商城</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_welfare_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>福利社</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_kf_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>客服</string>
			<key>iconImgUrl</key>
			<string>channel_tag_new</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_gift_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>邀请有礼</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_health_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>健康</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_travel_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>旅行</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>home_car_icon</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>汽车</string>
		</dict>
	</array>
</dict>
</plist>
