<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<array>
		<dict>
			<key>imgUrl</key>
			<string>item00</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item00</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item01</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item01</string>
			<key>iconImgUrl</key>
			<string>channel_tag_new</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item02</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item02</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item03</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item03</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item04</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item04</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item05</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item05</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item06</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item06</string>
			<key>iconImgUrl</key>
			<string>channel_tag_new</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item07</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item07</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item08</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item08</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item09</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item09</string>
		</dict>
		<dict>
			<key>imgUrl</key>
			<string>item10</string>
			<key>imgUrl_net</key>
			<string></string>
			<key>title</key>
			<string>item10</string>
		</dict>
	</array>
</dict>
</plist>
